{% for interface in interfaces -%}
interface {{ interface }}
   description {{ interfaces[interface].description }}
   {% if 'loopback' in interface | lower -%}
   ip address {{ interfaces[interface].address }}
   {% else -%}
   mtu 9214
   no switchport
   ip address {{ interfaces[interface].address }}
   {% endif %}
{% endfor %}
